# Module - 1

# Data Pre-Processing

In [1]:
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = p.read_csv('W.csv')

In [4]:
data.head()

,id,Time,Is_CH,who_CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,Rank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Expaned_Energy,Attack_type
0,101000.0,50.0,1.0,101000.0,0.00000,1.0,0.0,0.0,25.0,1.0,0.0,0.0,0.0,1200.0,48.0,130.08535,0.0,2.46940,Normal
1,101001.0,50.0,0.0,101044.0,75.32345,0.0,4.0,1.0,0.0,0.0,1.0,2.0,38.0,0.0,0.0,0.00000,4.0,0.06957,Normal
2,101002.0,50.0,0.0,101010.0,46.95453,0.0,4.0,1.0,0.0,0.0,1.0,19.0,41.0,0.0,0.0,0.00000,3.0,0.06898,Normal
3,101003.0,50.0,0.0,101044.0,64.85231,0.0,4.0,1.0,0.0,0.0,1.0,16.0,38.0,0.0,0.0,0.00000,4.0,0.06673,Normal
4,101004.0,50.0,0.0,101010.0,4.83341,0.0,4.0,1.0,0.0,0.0,1.0,25.0,41.0,0.0,0.0,0.00000,3.0,0.06534,Normal

In [5]:
data.shape

(374524, 19)

In [6]:
df = data.dropna()

In [7]:
df.shape

(50386, 19)

In [ ]:
df.to_csv('WSN_Dataset.')

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df.describe()

In [ ]:
df.Is_CH.unique()

In [ ]:
df.JOIN_R.unique()

In [ ]:
df.send_code.unique()

In [ ]:
p.crosstab(df.Attack_type,df.send_code)

In [ ]:
p.Categorical(df['Is_CH']).describe()

In [ ]:
p.Categorical(df['send_code']).describe()

In [ ]:
print("Time: ", sorted(df['Time'].unique()))

In [ ]:
print("ADV_R: ", sorted(df['ADV_R'].unique()))

In [ ]:
df['Attack_type'].value_counts()

In [ ]:
df.duplicated().sum()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

In [ ]:
df['Attack_type'].value_counts()

In [ ]:
df.duplicated().sum()

In [ ]:
df.columns

In [ ]:
print("Minimum value of Dist_To_CH is:", df.Dist_To_CH.min())
print("Maximum value of Dist_To_CH is:", df.Dist_To_CH.max())

In [ ]:
df.info()

In [ ]:
df['Attack_type'].unique()

In [ ]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Attack_type']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [ ]:
df['Attack_type'].unique()

In [ ]:
df.tail()